html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}


.scrollbar-hide::-webkit-scrollbar {
  display:flex;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


/* app.css */
.popup-enter {
  max-height: 0;
  opacity: 0;
  transform: scale(0.95);
}

.popup-enter-active {
  max-height: 500px; /* Adjust as needed */
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-out;
}

.popup-exit {
  max-height: 500px;
  opacity: 1;
  transform: scale(1);
}

.popup-exit-active {
  max-height: 0;
  opacity: 0;
  transform: scale(0.95);
  transition: all 500ms ease-out;
}


.resize-handle {
  cursor: grab !important; /* Forces the grab cursor */
  pointer-events: auto !important;
  
}

.resize-handle:active {
  cursor: grabbing !important;
}